<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Cars Table</title>
</head>
<body>
<div>
    <h2>Автомобили:</h2>

    <table>
        <tr>
            <th>model</th>
            <th>vin</th>
            <th>year</th>
        </tr>
        <tr th:each="car: ${listCars}">
            <td th:text="${car.getModel()}"/>
            <td th:text="${car.getVin()}"/>
            <td th:text="${car.getYear()}"/>
        </tr>
    </table>
</div>
</body>
</html>